<p>Hi <%= @owner.first_name %>,</p>

<p>you have a new request for <strong><%= @request.number_of_passengers %></strong>
passenger(s), from <strong><%= @user.first_name %> <%= @user.last_name %></strong> about your ride from <u><%= @ride.origin %></u> to <u><%= @ride.destination%></u></p>

<p>Some more information about it:</p>

<ul>
  <li>Number of Passengers: <%= @request.number_of_passengers %></li>
  <li>Message: <em><%= @request.original_message %></em></li>
</ul>
<br/>

<p>If you want to answer, click below:</p>

<%= mail_to @user.email, "Answer to #{@user.first_name}", class: "btn btn-call-to-action" %>

<p>You can also call <%= @user.first_name %>: <%= @user.phone_number %></p>
