<% content_for(:page_title, t('.complete_your_profile')) %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <p><%= t('.explanation') %></p>

    <%= form_for(current_user, url: account_validation_path, html: { method: :put }) do |f| %>
      <% current_user.errors.each do |field, error_message| %>
        <div class="form-group">
          <%= f.label field %>
          <%= f.text_field field, class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t('defaults.update'), class: 'btn btn-call-to-action' %>
      </div>
    <% end %>

    <hr />

    <%= link_to t('defaults.back'), :back %>
  </div>
</div>
