<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @ride.owner.email %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @ride.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong>Departure at:</strong>
  <%= @ride.departure_at.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @ride.capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@ride.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
