<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :origin %>
    <%= form.text_field :origin, required: true, class: "form-control google-place-autocomplete" %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, required: true, class: "form-control google-place-autocomplete" %>
  </div>

  <div class="form-group">
    <%= form.label :departure_at %>
    <%= form.text_field :departure_at, required: true, class: "form-control datetimepicker" %>
  </div>

  <div class="form-group">
    <%= form.label :capacity %>
    <%= form.text_field :capacity, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, required: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Ride", class: "btn btn-outline-primary" %>
  </div>
<% end %>
