<% content_for(:page_title) do %>
  <%= Ride.model_name.human %> :
  <%= @ride.origin %> -> <%= @ride.destination %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Ride.human_attribute_name(:owner) %> :</strong>
  <%= @ride.owner.email %>
</p>

<p>
  <strong><%= Ride.human_attribute_name(:origin) %> :</strong>
  <%= @ride.origin %>
</p>

<p>
  <strong><%= Ride.human_attribute_name(:destination) %> :</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong><%= Ride.human_attribute_name(:departure_at) %> :</strong>
  <%= @ride.departure_at.strftime("%d/%m/%Y - %H:%M") %>
</p>

<p>
  <strong><%= Ride.human_attribute_name(:capacity) %> :</strong>
  <%= @ride.capacity %>
</p>

<p>
  <strong><%= Ride.human_attribute_name(:price) %> :</strong>
  <%= number_to_currency(@ride.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %>
</p>

<%= link_to t('defaults.back'), rides_path %>
