<div class="website-menu-top app-nav-mobile-container">
  <nav class="websites-menu">
    <p class="app-contrast-color app-nav-mobile websites-menu-closeBar">
      <span class="fa fa-times"></span>
      Menu
    </p>
    <div class="theme-menu-wrapper">
      <ul class="app-contrast-color theme-menu">
        <li class="theme-menu-item app-menu-admin">
          <div class="app-menu-container">
            <%= link_to t('.all_rides'), rides_path %>
          </div>
        </li>

        <% if user_signed_in? %>
          <li class="theme-menu-item app-menu-admin">
            <div class="app-menu-container">
              <%= link_to t('.my_rides'), account_rides_path %>
            </div>
          </li>
        <% end %>

        <li class="theme-menu-item app-menu-admin">
          <div class="app-menu-container">
            <% if user_signed_in? %>
              <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %>
            <% end %>
          </div>
        </li>

        <li class="theme-menu-item app-menu-admin app-contrast-color" data-id="5764251" data-orden="0">
          <div class="app-menu-container">
            <%= link_to t('.back_to_wedding_website'), "https://www.mariages.net/web/danietmanu/bienvenuebemvindo-1" %>
          </div>
        </li>
        <li class="theme-menu-item app-menu-admin app-contrast-color">
          <div class="app-menu-container">
            <div class="dropdown show">
              <% if I18n.locale == I18n.default_locale %>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Français
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to "Português", { locale: 'pt-BR' }, class: "dropdown-item" %>
                </div>
              <% else %>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Português
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to "Français", { locale: 'fr' }, class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
